<style media="screen">
  #mainDiv{
    width: 100%;
    background-color:#FBFBFB;
    padding-top:25px;
    padding-bottom:25px;
    text-align:center;
  }
  #title{
     font-family:Avenir,Helvetica,sans-serif;
     box-sizing:border-box;
     color:#bbbfc3;
     font-size:19px;
     font-weight:bold;
     text-decoration:none;

  }
  #salutation{
    padding-top:15px;
  }
  #salutation h1{
     font-size:19px;
  }
  #textcontent{
    font-family:Avenir,Helvetica,sans-serif;
    box-sizing:border-box;
    color:#74787e;
    font-size:16px;
    line-height:1.5em;
    margin-top:0;
    text-align:left;
  }
  #contentdiv{
    width: 80%;
    margin: 0 auto;
  }
</style>

<div>
    <div id="mainDiv">
      <a id="title" href="http://localhost" target="_blank">
        System Recover Password
      </a>
    </div>
    <div id="contentdiv">
      <div id="salutation"><h1>Hello!</h1></div>
      <div>
        <p id="textcontent">
          You are receiving this email because we received a password reset request for your account.
        </p>
        <a href="http://localhost:3000/change-password" id="linkchangepassword">
          <button type="button" name="button">
              Reset Password
          </button>
        </a>
      </div>
    </div>
</div>
