<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sistema - Change Password Page</title>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <style media="screen">
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    </style>
  </head>
  <body style="background-image:url(/images/background-login.jpg);background-size:cover;">
    <div class="container">
      <div id="loginbox" style="margin-top:150px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">System name</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px" data-toggle="modal" data-target="#myModal" onclick="focusModal();"><a href="#">Change your password</a></div>
          </div>
          <div style="padding-top:15px" class="panel-body" >
            {{m}}
            <form id="changePasswordForm" class="form-horizontal" role="form" method="post">

              <div style="margin-bottom: 15px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input required="required" readonly="readonly" id="email" type="text" class="form-control" name="Email" value="" placeholder=" User">
              </div>
              <div style="margin-bottom: 15px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input required="required" readonly="readonly" id="currentpassword" type="password" class="form-control" name="currentpassword" value="" placeholder=" Current Password">
              </div>
              <div style="margin-bottom: 15px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input autofocus="autofocus" required="required" id="newpass" type="password" class="form-control" name="Password" value="" placeholder=" New Password">
              </div>
              <div style="margin-bottom: 15px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input required="required" id="newpass2" type="password" class="form-control" name="Password2" value="" placeholder=" New Password Again">
              </div>
              <div style="margin-top:15px" class="form-group text-right">
                <div class="col-sm-12 controls">
                  <input type="submit" class="btn btn-success" value="Reset Password">
                </div>
              </div>
              <div class="form-group">
                  <div class="col-md-12 control">
                      <div style="border-top: 1px solid#888; font-size:85%" ></div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/Utils.js"></script>

    <script type="text/javascript">
      document.getElementById('email').value = getParameterByName('m')
      document.getElementById('currentpassword').value = getParameterByName('p')

      function checkForm(form){

        if(form.pwd1.value != "" && form.pwd1.value == form.pwd2.value) {
          if(form.pwd1.value.length < 6) {
            alert("Error: Password must contain at least six characters!");
            form.pwd1.focus();
            return false;
          }
          if(form.pwd1.value == form.username.value) {
            alert("Error: Password must be different from Username!");
            form.pwd1.focus();
            return false;
          }
          re = /[0-9]/;
          if(!re.test(form.pwd1.value)) {
            alert("Error: password must contain at least one number (0-9)!");
            form.pwd1.focus();
            return false;
          }
          re = /[a-z]/;
          if(!re.test(form.pwd1.value)) {
            alert("Error: password must contain at least one lowercase letter (a-z)!");
            form.pwd1.focus();
            return false;
          }
          re = /[A-Z]/;
          if(!re.test(form.pwd1.value)) {
            alert("Error: password must contain at least one uppercase letter (A-Z)!");
            form.pwd1.focus();
            return false;
          }
        } else {
          alert("Error: Please check that you've entered and confirmed your password!");
          form.pwd1.focus();
          return false;
        }

        alert("You entered a valid password: " + form.pwd1.value);
        return true;
      }
    </script>

  </body>
</html>
