{{#section 'style'}}
  <style media="screen">
    div{
      color: red;
    }
  </style>
{{/section}}

<div class="">
  {{dizNome}}
</div>

{{#section 'script'}}
  <script type="text/javascript">
      console.log($('body'));
  </script>
{{/section}}
